{% extends 'raspisanie/base.html' %}
{% block title %}О колледже{% endblock %}
{% block content %}
    <div class="about-container">
        <h1>О колледже</h1>
        <div class="about-content">
            <div class="about-text">
                <p>Колледж телекоммуникаций ордена Трудового Красного Знамени федерального государственного бюджетного образовательного учреждения высшего образования «Московский технический университет связи и информатики» (КТ МТУСИ) — это один из ведущих образовательных учреждений, предоставляющих качественное обучение в области телекоммуникаций, информационных технологий и связи.</p>

                <p>На протяжении более 100 лет колледж успешно готовит высококвалифицированных специалистов, востребованных на современном рынке труда. Обучение проводится на базе 9 и 11 классов с использованием передовых технологий и методик преподавания.</p>

                <p>Мы гордимся своими традициями, преподавательским составом и выпускниками, которые добиваются успехов в крупнейших компаниях отрасли.</p>

                <p>Присоединяйтесь к нам и станьте частью профессионального сообщества, которое формирует будущее телекоммуникационной отрасли России!</p>
            </div>
        </div>
    </div>
{% endblock %}
