{% extends 'raspisanie/panel_base.html' %}
{% block title %}{% if group %}Редактировать группу{% else %}Создать группу{% endif %}{% endblock %}
{% block menu %}
    <a href="{% url 'raspisanie:admin_panel_home' %}">Главная</a>
    <a href="{% url 'raspisanie:user_list' %}">Пользователи</a>
    <a href="{% url 'raspisanie:group_list' %}">Группы</a>
    <a href="{% url 'raspisanie:teacher_list' %}">Преподаватели</a>
    <a href="{% url 'raspisanie:room_list' %}">Кабинеты</a>
    <a href="{% url 'raspisanie:subject_list' %}">Предметы</a>
    <a href="{% url 'raspisanie:schedule_list' %}">Расписание</a>
{% endblock %}
{% block content %}
    <h2>{% if group %}Редактировать группу{% else %}Создать группу{% endif %}</h2>
    <form method="post">
        {% csrf_token %}
        <label>Название группы:<br>
            <input type="text" name="name" value="{{ group.name|default:'' }}" required>
        </label><br><br>
        <button type="submit" style="background:#3f0ea5; color:#fff; padding:8px 18px; border-radius:8px;">Сохранить</button>
        <a href="{% url 'raspisanie:group_list' %}" style="margin-left:20px;">Отмена</a>
    </form>
{% endblock %} 