{% extends 'raspisanie/base.html' %}
{% block title %}Главная{% endblock %}
{% block content %}
    <div class="main-container">
        <h1>Добро пожаловать в систему расписания колледжа</h1>
        <div class="main-buttons">
            <a href="{% url 'raspisanie:schedule_table' %}" class="main-button">Расписание</a>
            <a href="{% url 'raspisanie:contacts' %}" class="main-button">Контакты</a>
            {% if user.is_authenticated %}
                {% if user.is_staff %}
                    <a href="{% url 'raspisanie:admin_panel_home' %}" class="main-button">Панель администратора</a>
                {% elif user.teacher %}
                    <a href="{% url 'raspisanie:teacher_panel_home' %}" class="main-button">Панель преподавателя</a>
                {% endif %}
                <a href="{% url 'raspisanie:logout' %}" class="main-button">Выйти</a>
            {% else %}
                <a href="{% url 'raspisanie:login' %}" class="main-button">Войти</a>
                <a href="{% url 'raspisanie:signup' %}" class="main-button">Регистрация</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
