{% extends 'raspisanie/base.html' %}
{% block title %}Вход{% endblock %}
{% block content %}
    <div class="login-container">
        <h1>Вход в систему</h1>
        <div class="login-content">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="login-buttons">
                    <button type="submit" class="login-button">Войти</button>
                    <a href="{% url 'raspisanie:signup' %}" class="signup-button">Регистрация</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %} 