{% extends 'raspisanie/panel_base.html' %}
{% block title %}Удалить аудиторию{% endblock %}
{% block menu %}
    <a href="{% url 'raspisanie:admin_panel_home' %}">Главная</a>
    <a href="{% url 'raspisanie:user_list' %}">Пользователи</a>
    <a href="{% url 'raspisanie:group_list' %}">Группы</a>
    <a href="{% url 'raspisanie:teacher_list' %}">Преподаватели</a>
    <a href="{% url 'raspisanie:room_list' %}">Кабинеты</a>
    <a href="{% url 'raspisanie:subject_list' %}">Предметы</a>
    <a href="{% url 'raspisanie:schedule_list' %}">Расписание</a>
{% endblock %}
{% block content %}
    <div class="delete-container">
        <h1>Удалить аудиторию</h1>
        <div class="delete-content">
            <p>Вы уверены, что хотите удалить аудиторию "{{ room.number }}"?</p>
            <form method="post">
                {% csrf_token %}
                <div class="delete-buttons">
                    <button type="submit" class="delete-button">Удалить</button>
                    <a href="{% url 'raspisanie:room_list' %}" class="cancel-button">Отмена</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %} 