{% extends 'raspisanie/base.html' %}
{% block title %}Регистрация{% endblock %}
{% block content %}
    <div class="signup-container">
        <h1>Регистрация</h1>
        <div class="signup-content">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="signup-buttons">
                    <button type="submit" class="signup-button">Зарегистрироваться</button>
                    <a href="{% url 'raspisanie:login' %}" class="login-button">Войти</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %} 