{% extends 'raspisanie/panel_base.html' %}
{% block title %}Панель преподавателя{% endblock %}
{% block menu %}
    <a href="{% url 'raspisanie:teacher_panel_home' %}">Главная</a>
    <a href="{% url 'raspisanie:schedule_table' %}">Расписание</a>
{% endblock %}
{% block content %}
    <div class="panel-container">
        <h1>Панель преподавателя</h1>
        <div class="panel-content">
            <div class="panel-menu">
                <a href="{% url 'raspisanie:teacher_schedule' %}" class="panel-button">Моё расписание</a>
                <a href="{% url 'raspisanie:teacher_groups' %}" class="panel-button">Мои группы</a>
                <a href="{% url 'raspisanie:teacher_subjects' %}" class="panel-button">Мои предметы</a>
            </div>
        </div>
    </div>
{% endblock %} 